/* Open Sans */
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSoraN7vELC11_xip9Rz-hMs.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGRqrPGLMrTi9b00I6Zi0LA.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(https://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xIs99AcBDkHXW8UNgp8Ipwk.woff) format('woff');
}

/* Raleway */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Raleway'), local('Raleway-Regular'), url(https://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: local('Raleway Bold'), local('Raleway-Bold'), url(https://themes.googleusercontent.com/static/fonts/raleway/v6/JbtMzqLaYbbbCL9X6EvaI73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/* Lulo Clean One */
@font-face {
	font-family: 'Lulo Clean One';
	font-weight: normal;
	font-display: swap;
	src: url(../fonts/theme/LuloCleanOne.woff) format('woff');
}
@font-face {
	font-family: 'Lulo Clean One';
	font-weight: bold;
	font-display: swap;
	src: url(../fonts/theme/LuloCleanOne-Bold.woff) format('woff');
}

/* Jelytta */
@font-face {
	font-family: 'Jelytta';
	font-weight: normal;
	font-display: swap;
	src: url(../fonts/theme/JelyttaRegular.woff) format('woff');
}
